<!DOCTYPE html>
<!-- A?adimos el nameSpace de seguridad de Thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<script type="text/javascript" th:fragment="javascript">

 $(document).ready(function(){
	$("#buscar_producto").autocomplete({
		
		source: function(request, response){
			$.ajax({
				url: "/factura/cargar-productos/" + request.term,
				dataType: "json",
				data: {
					term: request.term
				},
				success: function(data){
					response($.map(data, function(item){
						return{
							value: item.id,
							label: item.nombre,
							precio: item.precio,
						};
					}));
				},
			});
		},
		select: function(event, ui){
			//$("buscar_producto").val(ui.item.label);
			
			/* Recibimos el id de la vista plantilla-items.html -> plantillaItemsFactura
				.html() = invoca el método html en este caso el tbody */
			var linea = $("#plantillaItemsFactura").html();
			
			/*	Reemplazamos Id, Nombre y Precio por el valor. */
			linea = linea.replace(/{ID}/g, ui.item.value);
			linea = linea.replace(/{NOMBRE}/g, ui.item.label);
			linea = linea.replace(/{PRECIO}/g, ui.item.precio);
			
			/* Ahora cargamos está línea a cargarItemProductos del tbody*/
			$("#cargarItemProductos tbody").append(linea);
			
			itemsHelper.calcularImporte(ui.item.value,ui.item.precio, 1);
			
			return false;
		},
		focus: function(event, ui){
		    event.preventDefault();
		    $('input[name="buscar_producto"]').val(ui.item.label);
		   },
	});
});
 
 /* Vamos a calcular el Importe */
 var itemsHelper = {
		 calcularImporte: function(id,precio,cantidad){
			 $("#total_importe_" + id).html(parseInt(precio) * parseInt(cantidad));
		 }
		 
 }
 
	</script>

</body>

</html>